body {
  margin: 0;
  text-align: center;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: 'Merriweather', serif;
}
p{
  font-family: 'Merriweather', serif;
}
h3{
  font-family: 'Merriweather', serif;
}
.Top-Container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.Top-cloud {
  position:absolute;
  right :300px;
  top :50px;
}
.Bottom-cloud {
  position: absolute;
  left :300px;
  bottom :300px;
}
.profile{
  padding: 10px;
}
